.tableContainer {
	grid-column: 1/-1;
	margin: 48px 0;
	padding: 50px 16px;
	text-align: left;
}
.tableContainer h2 {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
}

.gridTable {
	display: none;
}
.cardContainer {
	display: grid;
    gap: 16px;
}

.cardItem {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 16px;
	border-radius: 0 !important;
	text-align: left;
	border: 1px solid var(--primary-light-color) !important;
}

.cardItem:hover {
	border: 1px solid var(--primary-color);
}

.cardItem img {
	width: 100%;
}

@media (min-width: 768px) {
	.gridTable {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		background-color: var(--primary-color);
		color: white;
        margin-bottom: 16px;
		padding: 0 16px;
	}
	.cardItem {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-content: flex-start;
		padding: 24px;
		border-radius: 0 !important;
		text-align: left;
		gap: 16px;
	}
	.tableContainer {
		grid-column: 1/-1;
		margin: 48px;
		text-align: left;
	}
    .tableContainer h2 {
        padding: unset;
        background-color: unset;
        color: var(--primary-text-color);
    }
}
